body{
    height : 100%;
    display : grid;
    background-image : url("1.png");
    background-size : cover;
    background-repeat : no-repeat;
    font-family: Arial,sans-serif;
    color : white;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows : 100px 200px 300px;
    gap : 80px;
    grid-template-areas:
    "header header header"
    " nav  section aside"
    "footer footer footer";
}

#first{
    text-align : center;
}

#loginButton{
    background:transparent;
    color:white;
}
#realmain{
    grid-area : section;
    width : 500px;
    height:100%;
    display : flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin:auto;
    text-shadow: 2px 2px 2px black;
}
#intro{
    display : flex;
    width : 500px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin:auto;
    border-radius: 5%;
    border:5px double black;   

}
#secondMain{
    grid-area : section;
    width:500px;
    height : 200px;
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    margin : auto;
    border-radius:5%;
    border:5px double black;
    text-shadow: 2px 2px 2px black;
}
#twoContainer{
    height:100%;
    background-color:rgba(0,0,0,0.5);
    grid-column : 1/4;
    grid-row:3/4;
    
}
#nextTo{
    height:100%;
    grid-column:3/4;
    grid-row : 1/4;
    background-color:rgba(255,255,255,0.5);
    display:flex;
    flex-wrap:wrap;
    flex-direction:column;
    height:100%;
}
.clock{
    grid-column:2/3;
    grid-row:1/2;
    text-align :center;
}
.hide{
    display : none;
}
p{
    color:white;
}
input[type="text"]{
    height: 30px;
    outline: 0;
    border: none;
    font-size: 1.2em;
    background: #fff;
    color: #2f4f4f;
  }
.show{
    display : block;
}
button{
    background-color: transparent;
}


ul{
    display: flex;
    flex-wrap:wrap;
    flex-direction: column;
    justify-content: space-around;
    list-style:none;
    padding-left : 0px;
}


ul li{
    border-bottom : 2px solid black;
    background:rgba(255,255,255,0.5);
    margin:3px;
}
#checkOne{
    color:black;
    list-style:none;
}

#checkClear{
    border : 5px double black;
}